{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
  <div class="pg-columns pg-columns-reversed">
    <div class="pg-column-one-quarter">
      <img src="{% static 'images/undraw/undraw_joyride.svg' %}" alt="Service">
    </div>
    <div class="pg-column">
      <h1 class="pg-title">{{ product.name }}</h1>
      <h2 class="pg-subtitle">{% translate "Your Active Service" %}</h2>
      <p class="pg-subtitle">{% translate "You have access to this service through your subscription." %}</p>
    </div>
  </div>
</section>

<!-- User-specific file upload functionality -->
{% include user_template_path %}
{% endblock %}